body {
    background-color: beige;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    background-image: url("C:/Users/D E L L/Downloads/360_F_513597277_YYqrogAmgRR9ohwTUnOM784zS9eYUcSk.jpg");
    max-width: fit-content;
    max-height: fit-content;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #333;
}

input[type="text"], input[type="date"], select {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffbd5b;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: #ceb274;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f1f1f1;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
